*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans', sans-serif;
    font-size: 22.4px;
    line-height: 1.6;
}
@media screen and (min-width: 481px) and (max-width: 850px){
    .header-section{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
    .logo{
        margin: 15px 100px;
    }
    .menu{
        margin: 15px 100px;
    }
    .banner-section{
        display: flex;
        flex-direction: column;
        background-image: url(./img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 38% 0%;
    }
    .banner{
        width: 70%;
        margin-left: 50px;
        margin-top: 150px;
        margin-bottom: 50px;
        color: white; 
        padding-top: 60px;  
    }
    .banner-logo{
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
    }
    .banner-logo .cleaning{
        padding-left: 50px;
        padding-right: 50px;
    }
    .painting{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
    }
    .painting img{
        width: 80px;
        height: 80px;
    }
    .banner-logo h4{
        padding: 15px;
        font-weight: normal;
        font-size: large;
    }
    .banner-details h4{
        font-size: 48px;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-weight: 300px;
        letter-spacing: 3px;
        line-height: 56.7px;
    }
    .banner-details h1{
        font-family: 'Archivo Black', sans-serif;
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
    }
    .hori-line{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        background-color: white;
        height: 10px;
        padding: 2.5px;
        margin: 20px 0px;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
    }
    .services-text{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-text h4{
        color: #999999;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 700;
        margin: 130px 49px 0;
        line-height: 19px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }
    .services-text h1{
        font-weight: 700;
        font-size: 50px;
        width: 780px;
        line-height: 55px;
        margin: 20px auto 0;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .services-text h3{
        font-size: 20px;
        font-weight: 300;
        width: 700px;
        margin: 30px auto 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        line-height: 32px;
    }
    .booknow-section{
        display: flex;
        margin: 30px auto 80px;
    }
    .booknow-section .button{
        background-color: #e71a23 ;
        border: unset;
        color: white;
        width: 150px;
        height: 50px;
        padding: 15px;
        border-radius: 5px;    
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 600;
    }
    .working{
        background-image: url(./img/billionphotos1882993.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        margin: 65px 40px;
    }
    .contact-text .first-text{
        margin: 65px 40px;
        text-align: left;
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        line-height: 25.6px;
        padding: 0px 60px;
    }
    .contact-text .second-text{
        margin: 65px 40px 0px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 39px;
        padding: 2px 60px;
    }
    .contact-text .third-text{
        margin: 0px 40px 0px;
        color: rgb(231, 26, 35);
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        padding: 20px 60px;
    }
    .pressure-test{
        background-image: url(./img/billionphotos1883011.jpg);
        margin: 30px 40px 40px;
    }
    .engineer-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #D7D5DA;
    }
    .engineer{
        display: flex;
        width: 50%;
        background-image: url(./img/billionphotos1079319min.png);
        background-position: center;
        background-repeat: no-repeat;
        margin: 30px 30px 0px;
        background-size: 500px 530px;
    }    
    .engineer-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0px 100px 0px 0px;
    }
    .engineer-content .best h1{
        font-size: 70px;
        color: #104e92;
        font-weight: 700;
        line-height: 55px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        margin: 135px 0 0;
        text-align: left;
    }
    .engineer-content .horiline{
        width: 100%;
        background-color:  #e71a23;
        height: 10px;
        padding: 2.5px;
        margin: 20px 0px;
    }
    .engineer-content .company h4{
        font-size: 12px;
        color: black;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        margin: 20px 0px 0px;
    }
    .section2{
        display: flex;
        margin: 30px 0px 30px;
    }
    .services-section{
        width: 100%;
    }
    .services-section h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 55px;
        font-family: 'Roboto', sans-serif;
        margin: 60px 0px 0px 25px;
    }
    .painting2{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .painting2 .services-box{
        margin: 55px;
    }
    .painting2 .brush{
        width: 83px;
        height: 83px;
        background-color: #e71a23;
        border-radius: 50%;
    }
    .painting2 .brush img{
        margin: 20px;
    }
    .painting2 .brushpaint h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 19px;
        font-family: 'Roboto',sans-serif;
        text-align: left;
        width: auto;
        margin: 20px 0px 0px;
    }
    .painting2 .paintmessage h4{
        margin: 20px 0px 0px;
        font-size: 16px;
        font-style: italic;
        text-align: left;
        font-family: 'Open Sans',sans-serif;
    }
    













}


@media screen and (max-width: 480px){
    .header-section{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        margin: 15px 20px;
    }
    .menu{
        margin: 15px 20px;
    }
    .banner-section{
        display: flex;
        flex-direction: column;
        background-image: url(./img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 81.49% 50%;
    }
    .banner{
        width: 100%;
        color: white; 
        padding-top: 400px;  
    } 
    .banner-details{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .banner-details h4{
        font-size: 36px;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-weight: 300px;
        letter-spacing: 3px;
        line-height: 42px;
        margin-left: 30px;
    }
    .banner-details h1{
        font-family: 'Archivo Black', sans-serif;
        font-weight: 700;
        font-size: 58px;
        line-height: 64px;
        margin-left: 30px;
    }
    .hori-line{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 10px;
        margin: 30px;
        margin-bottom: 60px;
    }
    .banner-logo{
        display: none;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
    }
    .services-text{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-text h4{
        color: #999999;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 700;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 60px;
        line-height: 19px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }
    .services-text h1{
        font-weight: 700;
        font-size: 50px;
        width: 340px;
        line-height: 55px;
        margin: 50px auto 0;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .services-text h3{
        font-size: 20px;
        font-weight: 300;
        width: 340px;
        margin: 30px auto 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        line-height: 32px;
    }
    .booknow-section{
        margin: 30px auto 70px;
    }
    .booknow-section .button{
        background-color: #e71a23 ;
        border: unset;
        color: white;
        width: 150px;
        height: 50px;
        padding: 15px;
        border-radius: 5px;    
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 600;
    }
    .working{
        background-image: url(./img/billionphotos1882993.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        margin: 65px 40px;
    }
    .contact-text .first-text{
        width: 350px;
        margin: 50px 40px;
        text-align: left;
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        line-height: 25.6px;
        padding: 0px 20px;
    }
    .contact-text .second-text{
        margin: 50px 40px 0px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
        padding: 0px 20px;
    }
    .contact-text .third-text{
        margin: 0px 40px 0px;
        color: rgb(231, 26, 35);
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        padding: 15px 20px;
    }
    .pressure-test{
        background-image: url(./img/billionphotos1883011.jpg);
        margin: 30px 40px;
    }
    .engineer-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #D7D5DA;
    }
    .engineer-section .engineer{
        display: flex;
        height: 450px;
        background-image: url(./img/billionphotos1079319min.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 340px 436px;
    }  
    .engineer-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 80px;
    }
    .engineer-content .best h1{
        font-size: 70px;
        color: #104e92;
        font-weight: 700;
        line-height: 55px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        margin: 50px 0 0;
        text-align: left;
    }
    .engineer-content .horiline{
        width: 100%;
        background-color:  #e71a23;
        height: 10px;
        padding: 2.5px;
        margin: 20px 0px;
    }
    .engineer-content .company h4{
        font-size: 12px;
        color: black;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        margin: 20px 0px 0px;
    }
    .section2{
        display: flex;
        margin: 30px 0px 30px;
    }








}