*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans', sans-serif;
    font-size: 22.4px;
    line-height: 1.6;
}
@media screen and (min-width: 481px) and (max-width: 850px){
    .header-section{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
    .logo{
        margin: 15px 100px;
    }
    .menu{
        margin: 15px 100px;
    }
    .banner-section{
        display: flex;
        flex-direction: column;
        background-image: url(./img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 38% 0%;
    }
    .banner{
        width: 70%;
        margin-left: 50px;
        margin-top: 150px;
        margin-bottom: 50px;
        color: white; 
        padding-top: 60px;  
    }
    .banner-logo{
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
    }
    .banner-logo .cleaning{
        padding-left: 50px;
        padding-right: 50px;
    }
    .painting{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
    }
    .painting img{
        width: 80px;
        height: 80px;
    }
    .banner-logo h4{
        padding: 15px;
        font-weight: normal;
        font-size: large;
    }
    .banner-details h4{
        font-size: 48px;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-weight: 300px;
        letter-spacing: 3px;
        line-height: 56.7px;
    }
    .banner-details h1{
        font-family: 'Archivo Black', sans-serif;
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
    }
    .hori-line{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        background-color: white;
        height: 10px;
        padding: 2.5px;
        margin: 20px 0px;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width: 480px){
    .header-section{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        margin: 15px 20px;
    }
    .menu{
        margin: 15px 20px;
    }
    .banner-section{
        display: flex;
        flex-direction: column;
        background-image: url(./img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 81.49% 50%;
    }
    .banner{
        width: 100%;
        color: white; 
        padding-top: 400px;  
    } 
    .banner-details{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .banner-details h4{
        font-size: 36px;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-weight: 300px;
        letter-spacing: 3px;
        line-height: 42px;
        margin-left: 30px;
    }
    .banner-details h1{
        font-family: 'Archivo Black', sans-serif;
        font-weight: 700;
        font-size: 58px;
        line-height: 64px;
        margin-left: 30px;
    }
    .hori-line{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 10px;
        margin: 30px;
        margin-bottom: 60px;
    }
    .banner-logo{
        display: none;
    }
}